<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='image/favicon.ico')}}" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Rpy3</title>

    
	
    
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                	<span class="glyphicon glyphicon-fire"></span> 
                	Rpy3
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about_me">About</a>
                    </li>
                    
                </ul>


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Content -->
    <div class="container">

        <!-- Page Intro -->
        
        <!-- /.row -->
{% block body%}
{% endblock%}
        <!-- Feature Row -->
        
        <!-- /.row -->

		
		
		
    </div>
    <!-- /.container -->
	
	
	
	<footer>
		<hr>
		
        <div class="small-print">
        	<div class="container">
        		<p><a href="#"> Privacy Policy</a> | <a href="/about_me">Contact</a></p>
        		<p>Copyright &copy; 2017</p>
        	</div>
        </div>
	</footer>

	
    <!-- jQuery -->
	
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js')}}"></script>
	
	<!-- Placeholder Images -->
	<script src="{{ url_for('static', filename='js/holder.min.js')}}"></script>
	
</body>

</html>
